/*        GENERAL       */
body{
    font-family: 'Roboto', sans-serif;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.relative{
    position: relative;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

li{
    display: inline-block;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

i{
    color: black;
}

/* UTILITIES BTN */

.btn{
    padding: 5px;
    border: 1px solid #2e87ff;
    color: #2e87ff;
    border-radius: 5px;
    line-height: 1;
}

.btn-registration{
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #579aff;
    color: white;
    border-radius: 3px;
}

/* UTILITIES PADDING MARGIN */

.p-t-10{
    padding-top: 10px;
}

.p-t-20{
    padding-top: 20px;
}

.p-t-30{
    padding-top: 30px;
}

.p-t-50{
    padding-top: 50px;
}

.p-t-70{
    padding-top: 70px;
}

.p-t-100{
    padding-top: 100px;
}

.p-b-10{
    padding-bottom: 10px;
}

.p-b-20{
    padding-bottom: 20px;
}

.p-b-30{
    padding-bottom: 30px;
}

.p-b-50{
    padding-bottom: 50px;
}

.p-b-70{
    padding-bottom: 70px;
}

.p-b-100{
    padding-bottom: 100px;
}

.p-r-10{
    padding-right: 10px;
}

.p-l-10{
    padding-left: 10px;
}

.p-r-50{
    padding-right: 50px;
}

.m-l-10{
    padding-left: 10px;
}

.m-t-10{
    padding-top: 10px;
}

.m-t-20{
    padding-top: 20px;
}

.m-t-30{
    padding-top: 30px;
}

.m-b-10{
    padding-bottom: 10px;
}

.m-b-20{
    padding-bottom: 20px;
}

.m-b-30{
    padding-bottom: 30px;
}

.m-r-10{
    padding-right: 10px;
}

.m-l-10{
    padding-left: 10px;
}

/* UTILITIES COLORI */

.white{
     background-color: white;
}

.azzurro{
    color: #006aff;
}


/* MEDIA QUERI SEZIONE XS MOBILE 0px - 767px */

@media screen and (min-width: 0px) {
    /* RIMOSSO DAL FLUSSO XS */
    .hidden-xs{
        display: none;
    }

    .visible-xs{
        display: block;
    }

    /* HEADER */
    header .container{
        line-height: 100px;
        height: 100px;
    }

    header img{
        width: 160px;
        max-width: 100%;
    }

    header i{
        font-size: 20px;
    }

    header a:first-child i.fa-bars{
        color: #2e87ff;
    }
    /* MAIN */
    /* SECTION REGISTRATION */
    section.registration{
        background-image: url(../img/bg-banner-home.jpg);
        background-size: cover;
        background-position: center;
    }

    section.registration .account{
        text-align: center;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
    }

    section.registration .account input{
        height: 50px;
        line-height: 50px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        border: 2px solid #eeeeee;
        border-radius: 3px;
        color: #757575;
        font-size: 18px;
    }
    
    section.registration h1{
        font-size: 40px;
        color: white;
        padding-top: 30px;
    }

    section.registration .account h3{
        font-size: 25px;
    }

    section.registration .account .relative{
        filter: drop-shadow(5px 5px 5px #e3e3e3);
    }

    section.registration .relative a{
        color: #626262;
        font-size: 17px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    section.registration .relative img{
        position: absolute;
        top: 50%;
        width: 15px;
        max-width: 100%;
        transform: translateY(-50%);
    }
    
    section.registration p{
        font-size: 22px;
        color: #bbcdff;
    }
    
    
    section.registration h5{
        font-weight: normal;
    }

    section.registration h5 a{
        color: #2e87ff;
        text-decoration: underline;
    }

    /* SECTION DIGITAL PARTNERS */

    section.digital-partners{
        text-align: center;
        background-color: #f3f5f9;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    section.digital-partners .container h2{
        color: #6f7b97;
        font-size: 20px;
        padding-bottom: 50px;
    }

    section.digital-partners .container-logo img{
        width: 100%;
        height: 200px;
    }

    section.digital-partners .container a{
        color: #2e87ff;
        font-size: 22px;
    }

    section.digital-partners .container a i{
        color: #2e87ff;
        font-size: 14px;
    }

    /* SECTION CONFIGURATION */
    section.configuration{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    section.configuration .titolo-p h2{
        font-size: 40px;
        color: #031c4e;
        padding-top: 70px;
    }

    section.configuration .titolo-p p{
        color: #5c6a88;
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
    }

    section.configuration form input{
        font-size: 20px;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        width: 100%;
        padding-left: 5px;
        border:none;
        border-left: 3px solid #cccccc;
        color: #7c7c7c;
    }

    section.configuration .container img,
    section.configuration .container h4{
        padding: 10px 0;
    }

    section.configuration .container h4{
        color: #031c4e;
        font-size: 24px;
    }

    section.configuration .container p{
        font-size: 20px;
        color: #5c6a88;
    }

    /* SECTION FOR DEVELOPERS */

    section.for-developers{
        text-align: center;
        background-color: #f3f5f9;
        padding-top: 100px;
    }

    section.for-developers .container h2{
        font-size: 40px;
        color: #031c4e;
        padding-top: 70px;
    }

    section.for-developers .container p{
        text-align: center;
        color: #5c6a88;
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
        padding-top: 100px;
        padding-bottom: 150px;
    }

    section.for-developers .container .img-developers{
        padding-bottom: 20px;
    }

    section.for-developers .container .img-developers i{
        display: none;
    }

    section.for-developers img{
        width: 450px;
        max-width: 100%;
        float: none;
    }

    section.for-developers .container h4{
        font-size: 22px;
        color: #031c4e;
    }

    section.for-developers .container ul{
        margin-top: 80px;
        margin-bottom: 30px;
    }
    
    section.for-developers .container ul li i{
        color: #006aff;
        border-color: #006aff;
    }

    /* SECTION BUSINESS */

    section.business .container h2{
        text-align: center;
        font-size: 40px;
        color: #031c4e;
        padding-top: 70px;
    }

    section.business .content-business h4{
        color: #031c4e;
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    section.business .content-business p{
        font-size: 20px;
        color: #5c6a88;
        padding-bottom: 15px;
    }

    section.business .content-business a{
        font-size: 17px;
        color: #006aff;
    }

    section.business .content-business i{
        color: #006aff;
        font-size: 12px;
    }

    section.business .content-business:last-child{
        padding-bottom: 100px;
    }

    /* SECTION NATIONAL SERVICE */
    
    section.national-service{
        background-image: linear-gradient(#0047c5, #001d99);
        color: #e9eef8;
    }

    section.national-service h2{
        font-size: 40px;
        color: white;
    }

    section.national-service td{
        padding: 5px 0;
        border-bottom: 1px solid white;
    }

    section.national-service td.border-0{
        border-bottom: 0px;
    }

    section.national-service tr td:nth-child(2){
        color: #bbc6e7;
    }

    section.national-service tr td:last-child{
        text-align: right;
        padding-right: 10px;
    }

    section.national-service tr td a{
        color: #52d1e0;
    }

    section.national-service tr td i{
        color: #52d1e0;
        font-size: 12px;
    }

    /* SECTION TEAM */

    section.team{
        text-align: center;
        background-color: #f3f5f9;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    section.team .container h2{
        font-size: 40px;
        color: #031c4e;
    }

    section.team .container p{
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 25px;
        color: #5c6a88;
    }

    section.team .img-developers .team-content h5:nth-child(3){
        font-size: 19px;
        font-weight: 600;
        color: #031c4e;
    }

    section.team .img-developers .team-content h5:nth-child(4){
        font-size: 19px;
        font-weight: 500;
        color: #031c4e;
        margin-top: 5px;
    }

    section.team .container .img-developers{
        width: 70%;
        padding-bottom: 30px;
    }

    section.team .container .img-developers i{
        display: none;
    }

    section.team .container .img-developers .team-content{
        background-color: white;
    }

    section.team img{
        max-width: 100%;
    }
    
    section.team .team-content h5 a{
        font-size: 20px;
        color: #006aff;
    }

    section.team .img-developers .team-content h5 a i{
        color: #006aff;
        display: inline-block;
        line-height: 1;
        font-size: 15px;
        padding-right: 0;
        padding-left: 10px;
    }
    
    section.team .container ul{
        margin-top: 50px;
    }
    
    section.team .container ul li i{
        color: #006aff;
        border-color: #006aff;
    }

    /* SECTION ACCOUNT */

    section.account{
        text-align: center;
        background-image: linear-gradient(#0042bb, #001e9a);
        color: white;
    }

    section.account h2{
        font-size: 40px;
    }

    section.account a{
        display: inline-block;
        width: auto;
        margin-top: 30px;
        padding: 15px 15px;
        background-color: white;
        color: #2e87ff;
        border-radius: 7px;
        font-size: 22px;
        font-weight: 500;
    }

    /* FOOTER */

    footer{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #031c4e;
    }

    footer .container .copyright li{
        display: inline-block;
        font-size: 25px;
    }

    footer .container .copyright li a i{
        color: #7a859d;
    }

    footer li{
        display: block;
    }

    footer .copyright.container h5:nth-child(2){
        font-size: 16px;
        color: #8892a7;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    footer .copyright.container h5:nth-child(3){
        color: #5a6887;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }

    footer .margin h4{
        font-size: 24px;
        color: white;
        padding-top: 30px;
    }

    footer .margin li{
        padding: 10px 0;
        font-size: 17px;
        font-weight: 500;
    }

    footer .margin li a{
        color: #a6adbd;
    }

    /* FOOTER HELP */

    footer .help{
        position: fixed;
        bottom: 10%;
    }

    /* SQUALO */
    
    footer .help .squalo{
        position: relative;
        width: 65px;
        max-width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        background-color: #006aff;
        border-radius: 3px;
        text-align: center;
    }
    
    footer .help .squalo img{
        width: 50px;
        max-width: 100%;
    }

    footer .help .img-squalo .notifiche{
        position: absolute;
        bottom: 50%;
        left: 70%;
        width: 30px;
        max-width: 100%;
        line-height: 25px;
        background-color: red;
        border: 5px solid white;
        border-radius: 50%;
    }
    
    /* FOOTER HELP MESSAGE */

    footer .help .message{
        display: none;
        position: absolute;
        top: 100%;
        background-color: white;
        border-radius: 3px;
    }

    footer .help .text{
        position: relative;
        padding: 10px 15px;
    }

    footer .help .message .quadrato{
        position: absolute;
        bottom: 20%;
        left: 98%;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: white;
    }

    footer .help:hover .message{
        display: block;
        width: 300px;
    }

}

/* MEDIA QUERI SEZIONE TABLET MD 768px */

@media screen and (min-width:768px) {
    /* RIMOSSE DAL FLUSSO MD */
    .hidden-md{
        display: none;
    }
    .visible-md{
        display: block;
    }

    /* HEADER */
    /* PER ADESSO NELL HEADER è TUTTO UGUALE ALLA MEDIA SMARTPHONE */

    /* MAIN */
    /* SECTION REGISTRATION */
    section.registration h1{
        font-size: 45px;
        color: white;
        padding-right: 100px;
    }

    /* SECTION DIGITAL PARTNERS */
    /* NESSUNA MODIFICA DA EFFETTUARE */

    /* SECTION CONFIGURATION */
    /* NESSUNA MODIFICA DA EFFETTUARE */

    /* SECTION FOR-DEVELOPERS */
    section.for-developers .container .img-developers img{
        float: left;
        width: 50%;
    }

    section.for-developers .container .img-developers i{
        display: block;
        padding: 0 40px;
        height: 250px;
        line-height: 250px;
        text-align: right;  
        padding-right: 50px;
        font-size: 40px;
        color: #6f7b97;
    }

    section.for-developers .container .img-developers .fa-chevron-right{
        text-align: left;
    }

    section.for-developers .container .img-developers i:hover{
        color: #031c4e;
        cursor: pointer;
    }

    /* SECTION BUSINESS */
    /* NULLA DA AGGIUNGERE PER ADESSO */

    /* SECTION NATIONAL SERVICE */
    /* NULLA DA AGGIUNGERE PER ADESSO */

    /* SECTION TEAM */

    section.team .container .img-developers{
        height: 390px;
    }

    section.team .container .img-developers img{
        width: 100%;
    }

    section.team .container .img-developers i{
        line-height: 390px;
        display: block;
        text-align: right;  
        font-size: 40px;
        color: #6f7b97;
    }

    section.team .container .img-developers .fa-chevron-right{
        text-align: left;
    }

    section.team .container .img-developers .hover:hover{
        color: #031c4e;
        cursor: pointer;
    }

    section.team .container ul{
        margin-top: 50px;
    }
    
    section.team .container ul li i{
        color: #006aff;
        border-color: #006aff;
    }
}

/* MEDIA QUERI SEZIONE PC 992px in su */

@media screen and (min-width:991px) {
    .hidden-lg{
        display: none;
    }
    .visible-lg{
        display: block;
    }

    /* HEADER */
    header .container{
        line-height: 80px;
        height: 80px;
    }

    header img{
        width: 120px;
        max-width: 100%;
    }

    header i{
        font-size: 13px;
    }

    header ul li.btn a:first-child {
        color: #2e87ff;
    }

    /* MAIN */

    /* SECTION REGISTRATION */

    section.registration h1{
        font-size: 47px;
        color: white;
        padding-top: 30px;
    }

    /* SECTION DIGITAL PARTNERS */

    section.digital-partners{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    section.digital-partners .container h2{
        padding-bottom: 0;
    }

    section.digital-partners .container-logo img{
        width: 100%;
        height: 170px;
    }

    section.digital-partners .container a{
        font-size: 18px;
    }

    section.digital-partners .container a i{
        font-size: 10px;
    }

    /* SECTION CONFIGURATION */

    section.configuration{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    section.configuration .titolo-p h2{
        font-size: 35px;
        color: #031c4e;
        padding-top: 0px;
    }

    section.configuration .titolo-p p{
        color: #5c6a88;
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
    }

    section.configuration form{
        margin-left: 0;
    }

    /* SECTION FOR DEVELOPERS */
    
    section.for-developers{
        padding-top: 70px;
    }

    section.for-developers .container h2{
        padding-top: 10px;
    }

    section.for-developers .container p{
        font-size: 22px;
        padding-top: 50px;
        padding-bottom: 70px;
    }

    section.for-developers .container ul{
        margin-top: 30px;
        margin-bottom: 70px;
    }
    
    /* SECTION BUSINESS */
    /* NESSUNA MODIFICA DA EFFETTUARE */

    /* SECTION NATIONAL SERVICE */

    section.national-service td{
        line-height: 40px;
        padding: 5px 0;
        border-bottom: 1px solid white;
    }

    section.national-service tr td i{
        color: #52d1e0;
        font-size: 17px;
    }

    /* SECTION TEAM */

    section.team{
        text-align: center;
        background-color: #f3f5f9;
        padding-top: 100px;
        padding-bottom: 70px;
    }

    section.team .container .img-developers i{
        line-height: 475px;
        display: block;
        text-align: right;  
        font-size: 40px;
        color: #6f7b97;
    }

    /* SECTION ACCOUNT */
    /* NESSUNA MODIFICA DA EFFETTUARE */

    /* FOOTER */

    /* FOOTER HELP */

    footer .help{
        position: fixed;
        bottom: 10%;
        right: 0;
    }

    /* SQUALO */
    
    footer .help .squalo{
        position: relative;
        width: 65px;
        max-width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        background-color: #006aff;
        border-radius: 3px;
        text-align: center;
    }
    
    footer .help .squalo img{
        width: 50px;
        max-width: 100%;
    }

    footer .help .img-squalo .notifiche{
        position: absolute;
        bottom: 50%;
        left: 70%;
        width: 30px;
        max-width: 100%;
        line-height: 25px;
        background-color: red;
        border: 5px solid white;
        border-radius: 50%;
    }
    
    /* FOOTER HELP MESSAGE */

    footer .help .message{
        display: none;
        position: absolute;
        top: 0;
        right: 100%;
        background-color: white;
        border-radius: 3px;
    }

    footer .help .text{
        position: relative;
        padding: 10px 15px;
    }

    footer .help .message .quadrato{
        position: absolute;
        bottom: 20%;
        left: 98%;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: white;
    }

    footer .help:hover .message{
        display: block;
        width: 300px;
    }

    
}